<form ng-submit="home.addItem()" ng-controller="HomeController">
    <div class="col-md-8">
            <input type="text" class="form-control" ng-model="home.contents" placeholder="Input task...">
    </div>
    <div class="col-md-4">
            <input type="email" class="form-control" ng-model="home.email" placeholder="Your email">
    </div>
    <br>
    <br>
    <div class="container text-center">
      <input class="btn btn-primary btn-lg" type="submit" value="Add Task">
    </div>
</form>
<br>
<a href="" style="text-decoration:none;" ng-repeat="item in home.items">
  <div class="panel panel-default">
    <div class="panel-heading text-center">{{item.email}}</div>
    <div class="panel-body">
      {{item.contents}}
    </div>
  </div>
</a>